<% include ./partials/header %>
    <div class="ui container segment">
        <div class="ui huge header">
            <h1><%= friend.name %></h1>
        </div>
        <h6>Created on: <span class="ui big"><%= friend.created.toDateString() %></span></h6>
        <img class="ui rounded centered image profile-img" src="<%= friend.image %>">
        <p class="ui rounded segment"><%= friend.text %></p>
        <div class="ui secondary list segment">
            <strong>Comments</strong>
            <div class="item">
                <% friend.comments.forEach(function(comment) { %>
                    <img class="ui avatar image">
                    <div class="content">
                        <a class="header"><%= comment.author %></a>
                        <div class="description"><%= comment.text %> 4 days ago.</div>
                    </div>
                <% }); %> 
            </div>
            <a href="/friends/<%= friend._id %>/addcomment">
                            <button class="ui primary button">
                    <i class="comment icon"></i>
                    Add Comment
            </button>    
            </a>
        </div>
        <div class="ui buttons">
            <a href="/friends/<%= friend._id %>/edit">
                <button class="ui secondary button">
                    <i class="edit icon"></i>
                    Edit
                </button>
            </a>
            <div class="or"></div>
            <form action="/friends/<%= friend._id %>?_method=DELETE" method="POST">
                <button class="ui negative button">
                    <i class="remove circle icon"></i>
                    Delete
                </button>
            </form>
        </div>
    </div>
    

<% include ./partials/footer %>