<% include ./partials/header %>
    <div class="ui container segment">
        <div class="ui huge header">
            <h1><%= friend.name %></h1>
        </div>
        <h6>Created on: <span class="ui big"><%= friend.created.toDateString() %></span></h6>
        <img class="ui rounded centered image profile-img" src="<%= friend.image %>">
        <p class="ui rounded segment"><%= friend.text %></p>
        <div class="ui secondary segment">
            <strong>Comments</strong>
            <% friend.comments.forEach(function(comment) { %>
                <p class="ui rounded segment">
                    <%= comment.author %> - <%= comment.text %>
                </p>
            <% }); %>    
        </div>
        <div class="ui buttons">
            <a href="/friends/<%= friend._id %>/edit">
                <button class="ui secondary button">
                    <i class="edit icon"></i>
                    Edit
                </button>
            </a>
            <div class="or"></div>
            <button class="ui primary button">
                    <i class="comment icon"></i>
                    Comment
            </button>
            <div class="or"></div>
            <form action="/friends/<%= friend._id %>?_method=DELETE" method="POST">
                <button class="ui negative button">
                    <i class="remove circle icon"></i>
                    Delete
                </button>
            </form>
        </div>
    </div>
    

<% include ./partials/footer %>